//color
$mainColor: #152238;
$textColor: #9f8d6d;
$textSubcolor: #818087;
$subColor: #dad8d3;
$beigeMaincolor: #e6ddcd;
$beigeSubcolor: #efe7dc;
$blackColor: #000;
$whiteColor: #fff;
$greyColor:#d9d9d97a;


